# будут игнорироваться файлы в каталоге tmp/
tmp/

#  будут игнорироваться файлы которые заканчиватся на _old

_old

#  будут игнорироваться файлы которые заканчиватся на _backup
_backup

#  будут игнорироваться файлы Thumbs.db

Thumbs.db

# будут игнорироваться файлы .DS_Store

.DS_Store